<section id="home" class="main-banner parallaxie" style="background: url('../../../assets/uploads/banner-013.jpg') center 0px/ cover no-repeat fixed; max-height: 30%"></section>
<div id="team" class="section wb">
    <div class="container">
        <div class="section-title text-center">
            <h3>{{categoryname}}</h3>
            <p>A continuación listamos los tipos de productos que tenemos disponibles para {{categoryname}}</p>
        </div><!-- end title -->
    
        <div class= "row">
            <div *ngFor ="let subCategory of subCategories" class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="{{imageUrl+subCategory.ImagenSub}}" [routerLink]="['/subcategory', subCategory.SubCategoria+'|'+categoryname]">
                    </div>
                    <div class="team-content">
                        <h3 class="title">{{subCategory.SubCategoria}}</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>