/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/

.navbar-dark{
	background-color: transparent;
	transition: all 0.3s ease 0s;
}

.navbar-dark .navbar-nav .nav-link{
	color: #ffffff;
	letter-spacing: 1px;
	font-size: 14px;
	position: relative;
	text-transform: capitalize;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link.active{
	font-weight: 600;
}
.navbar-dark .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
    border-radius: 0px;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: -1;
}
.navbar-dark .navbar-nav .nav-link.active{
	color: #155663;
}
.navbar-dark .navbar-nav .nav-link.active::after {
	width: 100%;
	height: 42px;
	border-radius: 100px 100px 0px 100px;
}
.navbar-brand img {
	width: 130px;
    height: 100px;
    content: url("../../../assets/images/logo.png");
}

#mainNav.navbar-shrink{
	padding:20px;
}

#mainNav.navbar-shrink .navbar-nav .nav-link{
	color: #155663;
}

#mainNav.navbar-shrink .navbar-nav .nav-link::after{
	background: #155663;
}

#mainNav.navbar-shrink .navbar-nav .nav-link.active{
	color: #ffffff;
}

#mainNav.navbar-shrink .navbar-brand img{
	position: absolute;
    margin-top: -48px;
    content: url("../../../assets/images/logo1.png");
}

.navbar-default .btn-light {
    padding: 0 20px;
    margin-left: 15px;
}