<section id="home" class="main-banner parallaxie" style="background: url('../../../assets/uploads/banner-03.jpg') center 0px/ cover no-repeat fixed; max-height: 30%"></section>
<div id="team" class="section wb">
    <div class="container">
        <div class="section-title text-center">
            <h3>{{productDetails.Nombre}}</h3>
        </div>
    
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="{{imageUrl+productDetails.Imagen}}">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <span class="post" style="color: #000;" >{{productDetails.Descripcion}}</span>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="team-content our-team">
                    <a href="{{pdfUrl+productDetails.ficha}}" target="_blank" class="btn btn-primary btn-lg btn-block" style="background-color: #155663;">Ficha técnica</a> 
                    <a href="{{pdfUrl+productDetails.Quirurgica}}" target="_blank" class="btn btn-primary btn-lg btn-block" style="background-color: #155663;">Técnica quirúrgica</a> 
                    <a href="{{certUrl+productDetails.Invima+'.pdf'}}" target="_blank" class="btn btn-primary btn-lg btn-block" style="background-color: #155663;">Registro invima </a> 
                </div>
            </div>
        </div>

    </div>
</div>