<!-- LOADER -->


<!-- END LOADER -->
<section id="home" class="main-banner parallaxie" style="background: url('../../../assets/uploads/banner-01.jpg') center 0px/ cover no-repeat fixed">
    <div class="heading">
        <h1>Bienvenido a Cliniservices</h1>			
        <h3 class="cd-headline clip is-full-width">
            <span>Conoce nuestras categorías... </span>
            <span class="cd-words-wrapper">
                <b class="is-visible">Maxilofacial</b>
                <b>Columna</b>
                <b>Trauma</b>
                <b>Medicina deportiva</b>
                <b>Cráneo</b>
                <b>Reemplazos articulares</b>
            </span>
            <div class="btn-ber">
                <a class="get_btn hvr-bounce-to-top" href="#about" style="font-size: 18px;" >Comenzar</a>
                <a class="learn_btn hvr-bounce-to-top" href="#contact" style="font-size: 18px;">Aprender más</a>
            </div>
        </h3>
    </div>
</section>

<div id="about" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box"><br>                     
                    <h2>CORPORATIVO</h2>
                    <p>CLINISERVICES S.A.S está comprometida a importar, distribuir y comercializar Dispositivos Médicos con el
                        fin de satisfacer a consumidores y clientes, por tal motivo innovamos, aplicamos exigentes
                        estándares de calidad, mejoramos continuamente nuestros procesos y apoyamos el
                        proceso integral de nuestro talento humano.</p>

                    <a href="#contact" class="sim-btn hvr-bounce-to-top"><span>Contáctenos</span></a>
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="right-box-pro wow fadeIn">
                    <img src="../../../assets/uploads/about_04.jpg" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="services" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3 style="color:#fff;">PLATAFORMA ESTRATÉGICA</h3>
            <p style="color:#fff;">A continuación la estructura conceptual sobre la cual se erige nuestra organización</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <i class="flaticon-seo"></i>
                    </div>
                    <h2>Misión</h2>
                    <p>Proveemos soluciones en dispositivos médicos a través de un servicio
                        integral, construyendo alianzas estratégicas de largo plazo con los diferentes
                        integrantes del sistema general de seguridad social en salud.</p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <i class="flaticon-development"></i>
                    </div>
                    <h2>Visión</h2>
                    <p>Ser reconocidos por los diferentes integrantes del sistema general de
                        seguridad social en salud como aliados estratégicos efectivos a través de soluciones
                        integrales en la industria de los dispositivos médicos.</p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <i class="flaticon-process"></i>
                    </div>
                    <h2>Principios</h2>
                    <p>• Amar a Dios sobre todas las cosas<br>
                        • Lealtad<br>
                        • Honestidad<br>
                        • Respeto<br>
                        • Amabilidad</p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <i class="flaticon-discuss-issue"></i>
                    </div>
                    <h2>Enfoque</h2>
                    <p>
                        • Satisfacer las necesidades y expectativas de los clientes.<br>
                        • Establecer relaciones mutuamente beneficiosas con nuestros proveedores.
                    </p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <i class="flaticon-idea"></i>
                    </div>
                    <h2>Valores</h2>
                    <p>• Pasión por el servicio<br>
                        • Trabajo en equipo<br>
                        • Enfoque al resultado<br>
                        • Resiliencia<br>
                        • Liderazgo<br></p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <i class="flaticon-idea-1"></i>
                    </div>
                    <h2>Objetivo</h2>
                    <p>Proveer a nuestros clientes con productos de calidad que cumplan con todos
                        los estándares de calidad internacional aplicados a los dispositivos médicos.  
                        </p>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="blog" class="section wb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Certificaciones</h3>
        </div><!-- end title -->
        
        <div class="row">
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div [routerLink]="['/certified', 'Cliniservices']"  class="post-thumb">
                        <img src="../../../assets/uploads/logo clinic.jpg" class="img-fluid" alt="post-img" />
                        <div class="date">
                            <span>Cliniservices</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div [routerLink]="['/certified', 'Productor']" class="post-thumb">
                        <img src="../../../assets/uploads/productor.jpg" class="img-fluid" alt="post-img" />
                        <div class="date">
                            <span>Productor</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div [routerLink]="['/certified', 'Importador']" class="post-thumb">
                        <img src="../../../assets/uploads/importador.jpg" class="img-fluid" alt="post-img" />
                        <div class="date">
                            <span>Importador</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


<div id="portfolio" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3 style="color:#fff;">Productos</h3>
            <p style="color:#fff;">Puedes encontrar nuestros productos divididos en las siguientes categorías</p>
        </div><!-- end title -->
        
        <div class="gallery-list row" >
            <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_b">
                <div class="gallery-single fix" style="max-width: 80%;">
                    <img src="../../../assets/uploads/gallery_img-01.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a [routerLink]="['/products', 'Trauma']" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius">Trauma</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 gallery-grid gal_c gal_b">
                <div class="gallery-single fix" style="max-width: 80%;">
                    <img src="../../../assets/uploads/gallery_img-02.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a [routerLink]="['/products', 'Columna']" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius">Columna</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_c">
                <div class="gallery-single fix" style="max-width: 80%;">
                    <img src="../../../assets/uploads/gallery_img-03.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a [routerLink]="['/products', 'Maxilo Facial']" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius">Maxilo facial</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 gallery-grid gal_b gal_a">
                <div class="gallery-single fix" style="max-width: 80%;">
                    <img src="../../../assets/uploads/gallery_img-04.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a [routerLink]="['/products', 'Craneo']" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius">Cráneo</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_c">
                <div class="gallery-single fix" style="max-width: 80%;">
                    <img src="../../../assets/uploads/gallery_img-05.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a [routerLink]="['/products', 'Medicina Deportiva']" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius">Medicina Deportiva</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 gallery-grid gal_c gal_a">
                <div class="gallery-single fix" style="max-width: 80%;">
                    <img src="../../../assets/uploads/gallery_img-06.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a [routerLink]="['/products', 'Reemplazos Articulares']" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius">Reemplazos Articulares</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="mobile" id="m3dar" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box"><br>                     
                    <img src="../../../assets/uploads/M3dar.png" alt="" class="img-fluid img-rounded">
                    <p>Es una innovadora aplicación de realidad aumentada al servicio de la salud, 
                    que facilita el trabajo de los profesionales en el área de ortopedia y traumatología</p>
                    
                    <a href="https://play.google.com/store/apps/details?id=com.frudastechnology.m3dar&hl=es" class="sim-btn hvr-bounce-to-top"><span>Ir a Play store</span></a>
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="right-box-pro wow fadeIn">
                    <img src="../../../assets/uploads/M3dar3.png" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<app-contact></app-contact>
