<section id="home" class="main-banner parallaxie" style="background: url('../../../assets/uploads/banner-02.jpg') center 0px/ cover no-repeat fixed; max-height: 30%"></section>
<div id="team" class="section wb">
    <div class="container">
        <div class="section-title text-center">
            <h3>{{certifiedtype}}</h3>
        </div><!-- end title -->
    
        <div *ngIf="certifiedtype == 'Productor'" class="row">
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <a href="../../../assets/archivos/certificaciones/BUENA MANUFACTURA.pdf">
                            <img href="" src="../../../assets/uploads/download.png" style="max-width: 50px;">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Buena manufactura</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <a href="../../../assets/archivos/certificaciones/cecomunidadeuropea.pdf">
                            <img href="" src="../../../assets/uploads/download.png" style="max-width: 50px;">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="title">CE comunidad europea</h3>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <a href="../../../assets/archivos/certificaciones/conformidad.pdf">
                            <img href="" src="../../../assets/uploads/download.png" style="max-width: 50px;">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Conformidad</h3>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <a href="../../../assets/archivos/certificaciones/FDA CLAVOS INTRAMEDULARES.pdf">
                            <img href="" src="../../../assets/uploads/download.png" style="max-width: 50px;">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="title">FDA CLAVOS INTRAMEDULARES</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <a href="../../../assets/archivos/certificaciones/FDA PLACAS Y TORNILLOS.pdf">
                            <img href="" src="../../../assets/uploads/download.png" style="max-width: 50px;">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="title">FDA PLACAS Y TORNILLOS</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <a href="../../../assets/archivos/certificaciones/FDA WASTON COLUMNA.pdf">
                            <img href="" src="../../../assets/uploads/download.png" style="max-width: 50px;">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="title">FDA WASTON COLUMNA</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <a href="../../../assets/archivos/certificaciones/CCAA VINCULA COMOBIA SAS 2019.pdf">
                            <img href="" src="../../../assets/uploads/download.png" style="max-width: 50px;">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="title">CCAA Vincula</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <a href="../../../assets/archivos/certificaciones/INVIMA ANCLAS.pdf">
                            <img href="" src="../../../assets/uploads/download.png" style="max-width: 50px;">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Invima Anclas</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <a href="../../../assets/archivos/certificaciones/2014DM-0011572.pdf">
                            <img href="" src="../../../assets/uploads/download.png" style="max-width: 50px;">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Invima Maxilofacial</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <a href="../../../assets/archivos/certificaciones/2014DM-0011571.pdf">
                            <img href="" src="../../../assets/uploads/download.png" style="max-width: 50px;">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Invima Interferencia</h3>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row col-md-12"> 
                <div class="section-title text-center col-md-12">
                    <h3>Procesos de fabricación</h3>
                    <br>
                </div>
                
                <div class="col-md-6">
                    <div class="our-team">
                        <div class="embed-responsive embed-responsive-16by9"> 
                            <video controls>
                                <source src="../../../assets/archivos/videos/WASTON MEDICAL_1.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Waston Medical</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="our-team">
                        <div class="embed-responsive embed-responsive-16by9"> 
                            <video controls>
                                <source src="../../../assets/archivos/videos/3-edicao_ensaios_II.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Edición ensayos</h3>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="our-team">
                        <div class="embed-responsive embed-responsive-16by9"> 
                            <video controls>
                                <source src="../../../assets/archivos/videos/Ceramtec.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Ceramtec</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="our-team">
                        <div class="embed-responsive embed-responsive-16by9"> 
                            <video controls>
                                <source src="../../../assets/archivos/videos/forjamiento.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Forjamiento</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="our-team">
                        <div class="embed-responsive embed-responsive-16by9"> 
                            <video controls>
                                <source src="../../../assets/archivos/videos/medicion_final.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Medición final</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="our-team">
                        <div class="embed-responsive embed-responsive-16by9"> 
                            <video controls>
                                <source src="../../../assets/archivos/videos/microfundicion.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Microfundición</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="our-team">
                        <div class="embed-responsive embed-responsive-16by9"> 
                            <video controls>
                                <source src="../../../assets/archivos/videos/parafuso_pedicular_reduz.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Tornillo pedicular</h3>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>

        <div *ngIf="certifiedtype == 'Importador'" class="row">
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <a href="../../../assets/archivos/certificaciones/CCA.pdf">
                            <img href="" src="../../../assets/uploads/download.png" style="max-width: 50px;">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="title">CCA</h3>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <a href="../../../assets/archivos/certificaciones/ISO TODO ORTOPEDICO.jpeg">
                            <img href="" src="../../../assets/uploads/download.png" style="max-width: 50px;">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="title">ISO</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <a href="../../../assets/archivos/certificaciones/2011DM-0007418.pdf">
                            <img href="" src="../../../assets/uploads/download.png" style="max-width: 50px;">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Registro sanitario acero</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <a href="../../../assets/archivos/certificaciones/2020DM-0021144.pdf">
                            <img href="" src="../../../assets/uploads/download.png" style="max-width: 50px;">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Registro sanitario titanio</h3>
                    </div>
                </div>
            </div>
            
        </div>

        <div *ngIf="certifiedtype == 'Cliniservices'" class="row">
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <a href="../../../assets/archivos/certificaciones/CCAA CLINISERVICES S.A.pdf">
                            <img href="" src="../../../assets/uploads/download.png" style="max-width: 50px;">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="title">CCAA Cliniservices</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
